@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.offscreen {
  position: absolute;
  left: -10000px;
}

body {
  font-family: "Nunito", sans-serif;
}

button,
select {
  font: inherit;
  padding: 0.25em;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

#root {
  /* React root div */
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

.main {
  display: flex;
  gap: 1rem;
}

.main--products {
  flex-flow: row wrap;
  justify-content: space-between;
}

.main--cart {
  flex-flow: column nowrap;
}

.product {
  width: 90%;
  margin-bottom: 1em;
}

.product__img {
  max-width: 350px;
  box-shadow: 7px 7px 0px black;
  transition: box-shadow 1s ease-in-out;
}
.product__img_dark {
  max-width: 350px;
  box-shadow: 7px 7px 0px #ffb22c;
  transition: box-shadow 1s ease-in-out;
}

.cart__item {
  display: grid;
  grid-template-columns: 4fr 3fr 1fr 1fr;
  gap: 0.5rem;
  margin-bottom: 0.5em;
}

.cart__select {
  max-height: 48px;
}

.cart__item-subtotal {
  display: none;
  text-align: center;
}

@media screen and (min-width: 601px) {
  .product {
    width: 30%;
  }

  .cart__item {
    grid-template-columns: 3fr 15fr 5fr 1fr 8fr 1fr;
  }

  .cart__img,
  .cart__item-subtotal {
    display: block;
  }

  .cart__submit {
    max-width: 300px;
  }
}
